doctype html
html(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')

    title LIMITD
    style.
      @media (min-width:320px)  { 
        .shoetitle{
        font-size: 1.25rem;
        line-height:1.5rem
        } 
        .calcText{
        font-size: 10px;
        }
      }
      @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
      @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
      @media (min-width:801px)  {}
      @media (min-width:1025px) { 
        .shoetitle{
        font-size: 2.25rem;
        line-height:2.5rem
        } 
        .calcText{
        font-size: 12px;
        }

      }
      @media (min-width:1281px) { /* hi-res laptops and desktops */ }
  body
    div(style='margin-left:auto;margin-right:auto;padding-bottom:200px')
      table(style="width:100%")
        tr(style="width:100%")
          td(style="width:100%;")
            p(style="margin-top:0;margin-bottom:0;font-weight: 900;font-size:48px;color: #03045E;") Place this page inside the sneaker box!

      table(style="width:100%;border: black;border-width: thin;border-style: solid;")
                      tr(style="width:100%;border:2px")
                        td(style="width:33%;")
                          p(style="margin-top:0;margin-bottom:0;padding:20px 50px;font-size: large;min-height:100px;max-height:100px") 
                            | Name
                            br
                            | #{shoe_name}
                          p(style="margin-top:0;margin-bottom:0;padding:20px 50px;font-size: large;min-height:100px;max-height:100px") 
                            | Order No.
                            br
                            | #{order_number}
                        td(style="width:33%;")
                          p(style="margin-top:0;margin-bottom:0;padding:20px 50px;font-size: large;min-height:100px;max-height:100px") 
                            | Size (UK) 
                            br
                            | #{shoe_size}
                          p(style="margin-top:0;margin-bottom:0;padding:20px 50px;font-size: large;min-height:100px;max-height:100px") 
                            | Sales Price
                            br
                            b
                              |RM #{price}
                        td(style="width:33%;")
                          p(style="margin-top:0;margin-bottom:0;padding:20px 50px;font-size: large;min-height:100px;max-height:100px") 
                            | Colorway 
                            br
                            | #{colorway}
                          p(style="margin-top:0;margin-bottom:0;padding:20px 50px;font-size: large;min-height:100px;max-height:100px") 
                            | Style 
                            br
                            | #{style}
      p(style="font-weight: 800;font-size:32px;color: #03045E;margin:5px 0px;padding-left:8px")
        |Shipping Instructions
      br
      p(style="padding-left: 8px;")
        | Follow these instructions to prevent any complications. Limitd is not responsible for missing/damaged products that are not packaged properly. For further clarification, read the Terms & Conditions on our website.
      table(style="width:100%")
        tr(style="width:100%")
          //- td(style="width:3%;")
          //-     div(style="margin-top:0;margin-bottom:0;padding-left:8px;color:white;font-weight:600") 
          //-     |1
          //-     div(style="margin-top:0;margin-bottom:0;padding-left:8px;color:white;font-weight:600") 
          //-     |2
          //-     div(style="margin-top:0;margin-bottom:0;padding-left:8px;color:white;font-weight:600") 
          //-     |3
          //-     div(style="margin-top:0;margin-bottom:0;padding-left:8px;color:white;font-weight:600") 
          //-     |4
          //-     div(style="margin-top:0;margin-bottom:0;padding-left:8px;color:white;font-weight:600") 
          //-     |5
          //-     div(style="margin-top:0;margin-bottom:0;padding-left:8px;color:white;font-weight:600") 
          //-     |6
          //-     div(style="margin-top:0;margin-bottom:0;padding-left:8px;color:white;font-weight:600") 
          //-     |7
          //-     div(style="margin-top:0;margin-bottom:0;padding-left:8px;color:white;font-weight:600") 
          //-     |8

          td(style="width:100%;")
            table(style="width:100%")
              tr(style="width:100%")
                td(style="width:1%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") 1.
                td(style="width:99%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") Place this sale slip (this page) together with the product inside the sneaker box.
            table(style="width:100%")
              tr(style="width:100%")
                td(style="width:1%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") 2.
                td(style="width:99%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") Bubble wrap the shoe box to prevent box damage during transit 
            table(style="width:100%")
              tr(style="width:100%")
                td(style="width:1%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") 3.
                td(style="width:99%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") Place the bubble wrapped shoe box in a nicely fitted shipping box that is no more than 5cm larger than your product on each side.
            table(style="width:100%")
              tr(style="width:100%")
                td(style="width:1%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") 4.
                td(style="width:99%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") Tape and seal the shipping box properly to ensure all the edges are sealed tightly
            table(style="width:100%")
              tr(style="width:100%")
                td(style="width:1%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") 5.
                td(style="width:99%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") Removed or cross out existing old labels/stickers on the shipping box (if any).
            table(style="width:100%")
              tr(style="width:100%")
                td(style="width:1%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") 6.
                td(style="width:99%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") Tape the Limitd provided shipping label onto the shipping label.
            table(style="width:100%")
              tr(style="width:100%")
                td(style="width:1%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") 7.
                td(style="width:99%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") Drop the parcel off at an authorized DHL eCommerce Service point.
            
            table(style="width:100%")
              tr(style="width:100%")
                td(style="width:1%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") 8.
                td(style="width:99%;")
                  div(style="min-height:35px")
                    p(style="margin-top:auto;margin-bottom:auto;color:gray;font-weight:700") Ensure your parcel is scanned in over the counter.
            



