doctype html
html(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')

    title LIMITD
    style.
      @media (min-width:320px)  { 
        .shoetitle{
        font-size: 1.25rem;
        line-height:1.5rem
        } 
        .calcText{
        font-size: 10px;
        }
      }
      @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
      @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
      @media (min-width:801px)  {}
      @media (min-width:1025px) { 
        .shoetitle{
        font-size: 2.25rem;
        line-height:2.5rem
        } 
        .calcText{
        font-size: 12px;
        }

      }
      @media (min-width:1281px) { /* hi-res laptops and desktops */ }
  body
    div(style='min-width: 640px;max-width: 640px;margin-left:auto;margin-right:auto')
      .col
        // header
        div(style='background-color: #FAFAFA; padding: 22px 0 22px 0;')
          p(style='color:#061086;padding-left: 38px;font-size:3rem;line-height:1;font-weight:700') LIMITD
        // Title
        div(style="margin-left:auto;margin-right:auto")
          p(style='font-size: 30px;color:#061086;padding: 68px 0 68px 0;text-align:center;font-weight:700') TRANSACTION FAILED!
        // text
        div
          p(style='padding:0 51px 0 51px;font-size: 14px;text-align: justify;')
            | We are sorry to inform you that there were a few complications with the buyer's payment method. Unfortunately, this sale did not go through. Please try again in 24 hours.
        // total new table
        div(style='padding:73px 20px 73px 20px;padding-top:2rem')
          table(style='')
            tr(style='')
              td(style="width:50%")
                img(src=`${shoe_image}` style="padding-top:4rem;width:100%" alt='')
              td(style="text-align:left;padding:1rem;width:50%")
                div(style="font-weight:700;" class="shoetitle")
                  | #{shoe_name}
                  br
                  br
                div(class="calcText")
                  | Size: UK #{shoe_size}
                  br
                  |                         Condition:  Brand New 100% Authentic
                  br
                  br
                  div(style='border-bottom-width: 1px;padding-bottom:1rem;border-color:rgb(0,0,0);border-bottom-style:solid')
                    table(style="width:100%")
                      tr(style="width:100%")
                        td(style="width:50%;")
                          p(style="margin-top:0;margin-bottom:0") Ask Price:
                          p(style="margin-top:0;margin-bottom:0") Transaction Fee:
                          p(style="margin-top:0;margin-bottom:0") Processing Fee:
                          p(style="margin-top:0;margin-bottom:0") Shipping:
                        td(style="width:50%;")
                          p(style="margin-top:0;margin-bottom:0;text-align: right;") RM #{price}
                          p(style="margin-top:0;margin-bottom:0;text-align: right;") RM #{transaction_fee}
                          p(style="margin-top:0;margin-bottom:0;text-align: right;") RM #{processing_fee}
                          p(style="margin-top:0;margin-bottom:0;text-align: right;") RM #{shipping_fee}
                  div
                    div(style="padding-top:1.5rem")
                    table(style="width:100%")
                      tr(style="width:100%")
                        td(style="width:70%;font-weight:800;margin-top:0;margin-bottom:0") Total Payout
                        td(style="width:50%;font-weight:800;margin-top:0;margin-bottom:0;text-align:right;") RM #{total}
        
        // footer
        div(style='background-color: #FAFAFA; padding: 14px 0 20px 0;')
          div(style="padding-left:1.5rem;padding-right:1.5rem")
            table(style="width:100%")
              tr(style="width:100%")
                td(style='width:20%;color:#061086;font-weight:700;font-size:1.875rem;line-height:2.25rem') LIMITD
                td(style="width:20%")
                  table(class='' style="margin-left: auto;")
                    tr(class='')
                      td( style='background-color: lightgray;text-align:center;height:2.5rem;width:2.5rem;align-items: center;margin-left:0px;')
                        a(style="height:100%;width:100%" href=`https://www.facebook.com/limitdsneakers/` target="_blank")
                          p(style='margin:0;padding-top: 3px;')
                            img(src='../img/facebook1.png' )
                      td(style="width:5px")  
                      td( style='background-color: lightgray;text-align:center;height:2.5rem;width:2.5rem;align-items: center;margin-left:0px;')
                        a(style="height:100%;width:100%" href=`https://www.instagram.com/limitdsneakers/?hl=bn` target="_blank")
                          p(style='margin:0;padding-top: 3px;')
                            img(src='../img/insta.png' )
                      td(style="width:5px")
                      td(style='background-color: lightgray;text-align:center;height:2.5rem;width:2.5rem;align-items: center;margin-left:0px;')
                        a(style="height:100%;width:100%" )
                          p(style='margin:0;padding-top: 3px;')
                            img(src='../img/twitter.png' )

          div(style='color: #979797;padding-top:1rem;text-align:center')
            | © 2021 Limitd. All Rights Reserved.
            br
            // 123 Subang Jaya, Selangor, 47600, Malaysia.
            //- | To unsubscribe, 
            //- a(href=`${unsubscribe_link}` style="cursor:pointer") click here
            //- | .