doctype html
html(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css')
    title LIMITD
  body
    .mx-auto(style='min-width: 640px;max-width: 640px;')
      .col
        // header
        .flex(style='background-color: #FAFAFA; padding: 22px 0 22px 0;')
          p.text-5xl.font-bold(style='color:#061086;padding-left: 38px;') LIMITD
          // steps
        .mx-auto
          img(src='LimitdTracking2.png' alt='')
        // Title
        .mx-auto
          p.text-center.font-bold(style='font-size: 30px;color:#061086;padding: 68px 0 68px 0;') FAILED AUTHENTICATION!
        // text
        div
          p(style='padding:0 51px 0 51px;font-size: 14px;')
            | Oh no! The item did not pass our verification due to one or more of the following reasons:
            br
            br
            |                 i.   The item is fake
            br
            |                 ii.  The item is not brand new and complete with its given accessories
            br
            |                 iii. The item is damaged
            br
            br
            |                 On the bright side, we have successfully prevented you from falling victim to receiving this item. We have processed a full refund for you immediately and the amount should reflect in your account balance within 7 working days.
        // total table
        .flex.flex-row.pt-8(style='padding:73px 51px 73px 51px;')
          .flex.flex-col(class='w-1/2')
            //- img.pt-16(src="#{shoe_image}" alt='')
            img.pt-16(src=`${shoe_image}` alt='')

          .flex-col.text-justify.p-4(class='w-1/2')
            .font-bold.text-4xl
              | #{shoe_name}
              br
              br
            div(style='font-size:12px')
              | Size: UK #{shoe_size}
              br
              |                         Condition:  Brand New 100% Authentic
              br
              |                         Order Number: #{order_number}
              br
              br
              .flex.flex-row.pb-4.border-black(style='    border-bottom-width: 1px;')
                .flex.flex-col(class='w-3/5')
                  p Purchase Price:
                  p Processing Fee:
                  p Authentication Fee:
                  p Shipping:
                .text-left(class='w-2/5')
                  p RM #{price}
                  p RM #{processing_fee}
                  p RM #{authentication_fee}
                  p RM #{shipping_fee}
                  //
                    <p>RM 9999</p>
                    <p>RM 9999</p>
                    <p>RM 9999</p>
                    <p>RM 9999</p>
              div
                .flex.flex-row.pt-6
                  p.font-extrabold(class='w-3/5') Total Payment
                  p.font-extrabold(class='w-2/5') RM #{total}
        div
          .flex.justify-center.text-xl(style='height: 50px;margin: 0px 0 78px 0;')
            a.flex(href=`${button_link}`)
                button.font-bold(style='background-color:#061086' )
                  p.px-40.text-white View Order
        // footer
        .flex.flex-col(style='background-color: #FAFAFA; padding: 14px 0 10px 0;')
          .flex.flex-row.justify-between.px-6
            p.pt-6.font-bold.text-3xl(style='color:#061086') LIMITD
            div
              .flex.flex-row.pt-4(class='lg:w-full sm:flex-col md:w-full')
                a.flex(href=`${facebook_link}`)
                    .h-10.w-10(style='background-color: #EBEBEB;')
                        img.mx-auto.mt-3(src='facebook1.png')
                a.flex(href=`${insta_link}`)
                    .h-10.w-10.mr-0(style='background-color: #EBEBEB;')
                        img.mx-auto.mt-3(src='insta.png')
                a.flex(href=`${twitter_link}`)
                    .h-10.w-10.ml-0(style='background-color: #EBEBEB;')
                        img.mx-auto.mt-3(src='twitter.png')
          .text-center.pt-4(style='color: #979797;')
            | © 2020 Limitd. All Rights Reserved.
            br
            |                     The sender of this email is Limitd, located at #{sender_address}
            br
            br
            // 123 Subang Jaya, Selangor, 47600, Malaysia.
            | To unsubscribe, 
            a.cursor-pointer(class='hover:text-blue-600' href=`${unsubscribe_link}`) click here
            | .
