doctype html
html(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    
    title LIMITD
    style.

      @media (min-width: 640px) {
        .mediaWidth { flex-direction: coloumn; }
      }      
      @media (min-width: 768px) {
        .mediaWidth { width: 100% }
      }
      
      @media (min-width: 1024px) {
        .mediaWidth { width: 100%; }
        .mediaGap { gap: 1rem; }
      }
      
      @media (min-width: 1280px) {
        
      } 

  body(style='min-height: 100%;max-height: 100%;')
    div(style='min-width: 640px;max-width: 640px;margin-left:auto;margin-right:auto')
      .col
        // header
        div(style='background-color: #FAFAFA; padding: 22px 0 22px 0;display:flex;')
          p(style='color:#061086;padding-left: 38px;font-size:3rem;line-height:1;font-weight:700') LIMITD
        // Title
        div(style='background-color: #FAFAFA;margin-right:auto;margin-left:auto')
          div(style='font-size: 30px;color:black;padding: 38px 0 38px 0;text-align:center;font-weight:700') Verify Your Limitd Account
        div(style='height: 600px;')
          // text
          div(style="padding-top:5rem;padding-bottom:5rem")
            p(style='padding:0 51px 0 51px;font-size: 14px;text-align: justify;')
              | To make your Limitd account more secure and to receive important messages and transaction history from Limitd, please click the link below to verify your email address. A confirmation message will appear subsequently. This link is valid for 24 hours only.
          div
            div(style='height: 50px;margin: 0px 0 78px 0;font-size:1.25rem;line-height:1.75rem;justify-content:center;display:flex')
              a(href=`${button_link}` style="display:flex")
                button(style='background-color:#061086;font-weight:700;border:none;cursor:pointer')
                    p(style="padding-left:10rem;padding-right:10rem;color:rgb(255,255,255)") Verify
        // footer
        div(style='background-color: #FAFAFA; padding: 14px 0 10px 0;display:flex;flex-direction:column;')
          div(style="display:flex;flex-direction:row;justify-content:space-between;padding-left:1.5rem;padding-right:1.5rem")
            p(style='color:#061086;font-weight:700;font-size:1.875rem;line-height:2.25rem') LIMITD
            div
              div(class='mediaWidth' style="display:flex;flex-direction:row;padding-top:1rem")
                div(class='mediaGap' style="flex-wrap:wrap;display:flex;gap:1.5rem")
                    a(href=`https://www.facebook.com/limitdsneakers/` style="display:flex")
                        div(style='background-color:#EBEBEB;height:2.5rem;width:2.5rem;display:flex;justify-content: center;align-items: center')
                            img(src='facebook1.png' )
                    a(href=`https://www.instagram.com/limitdsneakers/?hl=bn` style="display:flex")
                        div(style='background-color:#EBEBEB;height:2.5rem;width:2.5rem;display:flex;justify-content: center;align-items: center;margin-right:0px')
                            img(src='insta.png' )
                    a(href=`${twitter_link}` style="display:flex")
                        div(style='background-color:#EBEBEB;height:2.5rem;width:2.5rem;display:flex;justify-content: center;align-items: center;margin-left:0px')
                            img(src='twitter.png' )
          div(style='color: #979797;padding-top:1rem;text-align:center')
            | © 2021 Limitd. All Rights Reserved.
            br
            |                     The sender of this email is Limitd, located at #{sender_address}
            br
            br
            // 123 Subang Jaya, Selangor, 47600, Malaysia.
            //- | To unsubscribe, 
            //- a(href=`${unsubscribe_link}` style="cursor:pointer") click here
            //- | .
